.link {
    list-style: none;
  }
  
  .main {
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0px 90px 0;
    background-color: rgb(252, 252, 252);
  }
  
  input {
    width: 300px;
    height: 50px;
  }
  
  .LHeader {
    text-align: center;
  }
  
  .fill {
    padding-left: 70px;
    font-size: 20px;
  }
  
  .second-input {
    padding-top: 20px;
  }
  
  .button {
    width: 260px;
    height: 50px;
  }
  
  .login-btn {
    padding-top: 20px;
  }
  
  .reg-link {
    padding-top: 10px;
  }
  
  .mail-id {
    padding-top: 20px;
  }
  
  .plist {
    padding-right: 10px;
    font-size: 25px;
  }