.job-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-wrap: 0;
    margin: 10px;
    background-color: skyblue;
    padding: 5px;
    width: 40vh;
  }
  